@using Product.Online_Marketting.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">Welcome to different online shopping.</h1>
    <p class="lead">We changed a everythink just try.</p>
    <hr class="my-4">
    <p>Simple shopping.Forget everythink, we changed online shopping style.<p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

</div>






   

<div class="container pb-5">

    
    @Html.Partial("_ProductList",Model)



</div>


   
    
