
@{
    ViewBag.Title = "Completed";
}

<div class="container">
    <div class="row">
        <div class="cold-md-12">
            <h2>Order is Completed!</h2>
            <h4>Your order quickly will be give a cargo.</h4>
        </div>
    </div>
</div>


